/* --------------------
fonts style
----------------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,700;1,400&family=Roboto+Mono:ital,wght@0,500;1,400&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Mono', monospace;
}

/* ****************************
     header section start 
******************************* */

/*--------------------
***********************
 upcoming html section 
 ***********************
 ----------------------*/


.main-box {
    box-shadow: 1px 1px 5px black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 200px;
    flex-direction: column;
    padding: 0px 10px;
}

.flag {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.country-name {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.grid-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

/* -----------------
*********************
upcoming section end
*********************
-------------------- */
header,
main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 130px;
}

.player {
    display: flex;
    background-color: #161616;
    border-radius: 10px;
    width: 1200px;
    justify-content: flex-end;
    align-items: center;
    padding-left: 40px;
}

.player-title {
    width: 50%;


}

.player-title h1 {
    font-weight: 700;
    color: white;
    font-size: 50px;
}

.player-title p {
    color: white;
}

.player-img {
    width: 50%;
}


.player-img img {
    width: 80%;
}

.primary-button {
    padding: 16px 25px;
    background-color: #DD0000;
    font-size: 20px;
    color: white;
    gap: 5px;
    border-radius: 5px;
    border: none;
}

/* **********************
--------------------
    main style start
 *************************
------------------------*/

/******* Now*********
mod-section start */
.mod-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 312px;
    height: 280px;
    background-color: #161616;
}

.mod-section #red-clr {
    background-color: #DD0000;
}

.mod-section li {
    list-style: none;
    padding: 17px 30px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    text-align: center;
    margin: 10px;
    margin-right: 35px;
}

.mod-section li:hover {
    background-color: #DD0000;
}

.mod-section a {
    text-decoration: none;
    font-size: 20px;
    color: black;
}

/*********************
 match style start
 ******************/
.all-box {
    display: flex;
    /* justify-content: space-between; */
    width: 1300px;
}

.match {
    width: 312px;
    box-shadow: 1px 1px 2px black;
    border-radius: 5px;
}

.match-banner img {
    width: 312px;
    height: 175px;
}

.icon-time {
    display: flex;

}

.match-title {
    padding: 10px;
}

.seq-button {
    padding: 4px 16px;
    border: 1px solid black;
    width: 80px;
    border-radius: 5px;
}

.time {
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 30px;

}

.evry-match {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

/* match style end */
/*/////////////////////////////
     footer section started
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
.goal {
    background-color: black;

}

hr {
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.goal h1 {
    padding: 50px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}

.goal ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.goal a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.goal li {
    padding: 80px 30px;
}

@media screen and (max-width) {}